/* Global styles */
body {
    background-color: lightblue;
    font-family: 'Merriweather', serif;
    text-align: center;
    margin: 50px;
  }
  
  /* Header styles */
  h1 {
    font-family: 'Sacramento', cursive;
    color: blue;
    
    font-size: 5.5rem;
    margin: 50px;
  }
  
  /* Links styles */
  a {
    text-decoration: none;
    font-weight: bold;
    color: blue;
  }
  
  a:hover {
    color: yellow;
  }
  
  /* Logos */
  img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
  }
  
  /* Section backgrounds */
  blockquote {
    background-color: #DCFFFD;
    border-radius: 40%;
  }
 
  
  /* Educational background table */
  table {
    border: 5px solid black;
    width: 100%;
    margin: 20px auto;
    background-color: #DCFFFD;
  }
  
  table td {
    padding: 10px;
  }
  
  /* Skills and Experience lists */
  ol.skills {
    text-align: left;
    list-style-type: decimal;
  }
  
  /* Top 20 movies table */
  table h2 {
    text-align: left;
    margin: 20px 0;
  }
  
  /* Dessert list */
  ul li span {
    font-weight: bold;
  }

  hr{
    color: #EAF6F6;
    width: 6px;
  }
  form{
    text-align: left;
  }